*{
    cursor: pointer;
}
body {
    background: url(https://ik.imagekit.io/kzpbayifg/pexels-kechno-studio-2150595479-34270452.jpg?updatedAt=1783174182643);
    background-size: cover;
    background-attachment: scroll;
}

p {
    color: aliceblue;
    border: 2px solid white;
    margin: 30px;
    border-radius: 40px;
    padding: 30px;
}

.nav {
    border: 3px solid white;
    color: white;
    border-radius: 20px;
    margin: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
}

.home,
.about,
.contact {
    margin: 5px;
    padding: 10px;
}

.home:hover,
.about:hover,
.contact:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
.foot{
    font-size: 20px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 20px;
}
.det{
    color: white;
    padding: 15px;
    border-radius: 50px;
    margin: 5px;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.det:nth-child(1):hover{
    background-color: red;
}
.det:nth-child(2):hover{
    background-color: skyblue;
}
.det:nth-child(3):hover{
    background-color:rgb(229, 108, 211);
}
p{
    color: bisque;
    text-shadow: 5px 5px 10px bisque;
}
