*{
    cursor: pointer;
}
body{
    background-color: dimgrey;
    color: white;
}
.header{
    background-color: blueviolet;
    height: 100px;
    width: 1500px;
    text-align: center;
    border-radius: 30px;
    border: 5px solid grey;
}
.title{
    position: relative;
    top: 20px;
    font-size: 30px;
}
.navbar{
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
}
.navlist,.navitem{
    display: inline;
}
.navitem{
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}
.navlist{
    margin-left: 1060px;
}
.navitem:hover{
    background-color: burlywood;
    color: black;
    border-radius: 30px;
}
.para{
    border: 3px solid white;
    border-radius: 30px;
    padding: 20px;
}
.projectheader{
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
    border: 3px dotted black;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.projectlist{
    font-size: 30px;
    position: relative;
    left: 500px;
}
.socials{
    border: 3px solid white;
    border-radius: 20px;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social{
    padding:10px;
    margin: 5px;
    border-radius: 20px;
}
.social:nth-child(1):hover{
    background-color: red;
    color: blue;
}
.social:nth-child(2):hover{
    background-color: cadetblue;
    color: white;
}
.social:nth-child(3):hover{
    background-color: deeppink;
    color: white;
}

